<div *ngIf="this.schools && this.baseForm && this.student" class="container mt-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-4">
                <h3>{{title}}</h3>
            </div>
            <form [formGroup]="baseForm" (ngSubmit)="addStudent()">
                <div class="form-group row mb-1">
                    <label class="col-md-4" for="firstName">First Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="firstName" required />
                    </div>
                    <div *ngIf="baseForm.get('firstName')!.invalid && (baseForm.get('firstName')!.dirty || baseForm.get('firstName')!.touched)"
                        class="text-danger">
                        FirstName is required.
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-md-4" for="lastName">Last Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="lastName" required />
                    </div>
                    <div *ngIf="baseForm.get('lastName')!.invalid && (baseForm.get('lastName')!.dirty || baseForm.get('lastName')!.touched)"
                        class="text-danger">
                        LastName is required.
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-md-4" for="age">Age</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" formControlName="age" required />
                    </div>
                    <div *ngIf="baseForm.get('age')!.invalid && (baseForm.get('age')!.dirty || baseForm.get('age')!.touched)"
                        class="text-danger">
                        Age is required.
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-md-4" for="adress">Adress</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="adress" required />
                    </div>
                    <div *ngIf="baseForm.get('adress')!.invalid && (baseForm.get('adress')!.dirty || baseForm.get('adress')!.touched)"
                        class="text-danger">
                        Adress is required.
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-md-4" for="schoolId">School</label>
                    <div class="col-md-8">
                        <select class="form-control" formControlName="schoolId" required>
                            <option *ngFor="let school of schools" [value]="school.id">{{ school.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <button type="submit" class="btn btn-primary" [disabled]="!baseForm.valid">{{title}}</button>
                </div>

            </form>
        </div>
    </div>
</div>