<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th> Action </th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let header of headers">{{ item[header] }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="doReturnDTOToGet(item)">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <button type="button" class="btn btn-primary" (click)="doReturnDTOToUpdate(item)">
            <fa-icon [icon]="faPencil"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger" (click)="doReturnDTOToDelete(item)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>

        </td>
      </tr>
    </tbody>
    <tfoot>
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
        [boundaryLinks]="true" (pageChange)="doNextPage()"></ngb-pagination>
    </tfoot>
  </table>
</div>