<h3 *ngIf="data.length === 0"> No Data </h3>
<div *ngIf="data.length > 0" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of headersTitle">{{ header }}</th>
        <th *ngIf="noAction"> Action </th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let header of headers">{{ item[header] }}</td>
        <td *ngIf="noAction">
          <button type="button" class="btn btn-success" (click)="doReturnDTOToGet(item)">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <button type="button" class="btn btn-primary" (click)="doReturnDTOToUpdate(item)">
            <fa-icon [icon]="faPencil"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger" (click)="doReturnDTOToDelete(item)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>

        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="totalItems > 10">
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
        [boundaryLinks]="true" (pageChange)="doNextPage()"></ngb-pagination>
    </tfoot>
  </table>
</div>