<h3 *ngIf="data.length === 0"> No Data </h3>
<div *ngIf="data.length > 0" class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-primary">
      <tr>
        <th *ngFor="let header of headersTitle">{{ header }}</th>
        <th *ngIf="noAction"> Action </th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of data | slice:0:showItems;" [routerLink]="getResultLink(item)"
        (click)="clearSearch(getResultLink(item))" [class.custom-cursor]="!noAction">
        <td *ngFor="let header of headers"><span *ngIf="searchEngine; else normal"
            [innerHTML]="item[header] | boldText: (keyword$ | async)"></span>
          <ng-template #normal>
            {{item[header] }}
          </ng-template>
        </td>
        <td *ngIf="noAction">
          <button type="button" class="btn btn-success" (click)="doReturnDTOToGet(item)">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <button type="button" class="btn btn-primary" (click)="doReturnDTOToUpdate(item)">
            <fa-icon [icon]="faPencil"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger" (click)="doReturnDTOToDelete(item)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>

        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!searchEngine && totalItems > pageSize">
      <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
        [boundaryLinks]="true" (pageChange)="doNextPage()"></ngb-pagination>
    </tfoot>
  </table>
</div>