<div class="container mt-12">
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-4">
        <h3>{{title}}</h3>
      </div>
      <form [formGroup]="baseForm" (ngSubmit)="addSchool()">
        <div class="form-group row mb-1">
          <label class="col-md-4" for="name">Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" formControlName="name" required />
          </div>
          <div
            *ngIf="baseForm.get('name')!.invalid && (baseForm.get('name')!.dirty || baseForm.get('name')!.touched)"
            class="text-danger">
            Name is required.
          </div>
        </div>
        <div class="form-group row mb-1">
          <label class="col-md-4" for="adress">Adress</label>
          <div class="col-md-8">
            <input type="text" class="form-control" formControlName="adress" required />
          </div>
          <div
            *ngIf="baseForm.get('adress')!.invalid && (baseForm.get('adress')!.dirty || baseForm.get('adress')!.touched)"
            class="text-danger">
            Adress is required.
          </div>
        </div>
        <div class="form-group row mb-1">
          <label class="col-md-4" for="town">Town</label>
          <div class="col-md-8">
            <input type="text" class="form-control" formControlName="town" required />
          </div>
          <div
            *ngIf="baseForm.get('town')!.invalid && (baseForm.get('town')!.dirty || baseForm.get('town')!.touched)"
            class="text-danger">
            Town is required.
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-md-4" for="description">Description</label>
          <div class="col-md-8">
            <textarea class="form-control" formControlName="description" rows="3"> </textarea>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary" [disabled]="!baseForm.valid">{{title}}</button>
        </div>

      </form>
    </div>
  </div>
</div>