<div class="container mt-12">
  <div class="row text-center mb-4">
    <div class="col-md-12">
      <h1>School Management</h1>
    </div>
  </div>
  <div class="row text-center mb-4">
    <div class="col-md-12">
      <button class="btn btn-primary col-6" (click)="openAddModal()">
        Add a new School
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-table (returnDTOToUpdate)="handleReturnSchoolToUpdate($event)"
        (returnDTOToDelete)="handleReturnSchoolToDelete($event)" (nextPage)="handleNextPage($event)"
        [headers]="['id', 'name', 'adress', 'town', 'description']" [data]="schools"
        [totalItems]="pageDetails.totalItems">
      </app-table>
    </div>
  </div>
</div>