<div class="container mt-12">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Connection</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (submit)="onSubmit()">
                        <div class="row mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" formControlName="username" required />
                            <app-form-validation-error [control]="loginForm.get('username')"></app-form-validation-error>
                        </div>
                        <div class="row mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password" required />
                            <app-form-validation-error [control]="loginForm.get('password')"></app-form-validation-error>
                        </div>
                        <div *ngIf="errorResponse" class="row  mb-3 text-danger">
                            {{errorResponse.message}}
                        </div>
                        <div class="row mb-3">
                            <a class="btn btn-link" (click)="openAddModal()"> Don't have an account yet? Subscribe here!</a>
                        </div>
                        <div class="row mb-3">
                            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>