<div class="container mt-12">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Connection</h3>
                </div>
                <div class="card-body">
                    <form (submit)="onSubmit()">
                        <div class="row mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input [(ngModel)]="username" type="text" class="form-control" id="username" required
                                name="username">
                        </div>
                        <div class="row mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input [(ngModel)]="password" type="password" class="form-control" id="password" required
                                name="password">
                        </div>
                        <div *ngIf="errorResponse" class="row  mb-3 text-danger">
                            {{errorResponse.message}}
                        </div>
                        <div class="row mb-3">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>