<div class="container">
  <h1 class="mt-4">Welcome to the MementoCoding Project!</h1>
  <p>This project is a School Management System built using the latest technologies - .NET 6 and Angular 15. 
    The goal of this project is simply to show a modern and clean architecture using .Net 6 with differents modern libraries like MediatR, Swagger, Microsoft.AspNetCore.Identity, 
    System.IdentityModel.Tokens.Jwt, Serilog, FluentValidation and more but also with a small UI app using Angular 15 with angular-fontawesome, Bootstrap, ngx-pagination, rxjs, Ngx-toastr, jwt-decode + HttpInterceptor for JWT token.</p>

  <h2 class="mt-4">Key Features</h2>
  <ul>
    <li><strong>Guest User Access:</strong> Guests can use search engine features to access school information.</li>
    <li><strong>Admin Role:</strong> Administrators can modify and manage data as needed.</li>
    <li><strong>School Information:</strong> Easily manage schools informations with students linked to it</li>
    <li><strong>Student Information:</strong> Easily manage student profiles, including personal details</li>
    <li><strong>Search Engine:</strong> Easily search for any fields or info in the DB</li>
  </ul>

  <h2 class="mt-4">Technology Stack</h2>
  <p>Our project leverages the power of .NET 6 for the backend, providing a robust and scalable foundation for data management, business logic, and API development. On the frontend, Angular 15 offers a modern and responsive user interface for accessing and interacting with the system.</p>

  <h2 class="mt-4">Get Started</h2>
  <p>If you're interested in exploring or contributing to our MementoCoding Project, feel free to get involved. You can find the source code, documentation, and installation instructions on our GitHub repository.</p>

  <p><a class="btn btn-primary" href="https://github.com/AjrAli/MementoCoding" target="_blank">GitHub Repository</a></p>

  <p>Thank you for your interest in our MementoCoding Project. We're excited to bring innovative technology to the world of education and improve the learning experience for developers</p>
</div>
